@font-face {
    font-family: press-start-2p-regular;
    src: url(assets/fonts/press-start-2p-regular.ttf);
}

body {
    background-color: #111;
}

h1 {
    font-family: 'press-start-2p-regular';
    color: mediumseagreen;
    width: 60%;
}